@font-face {
	src: url(../fonts/Rodfat.ttf);
	font-family: 'rodfat';
}

.splash-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	height: 100vh;
}

.title-container h1 {
	text-align: center;
	font-size: 8rem;
	/* z-index places it on top */
	z-index: 1;
	position: relative;
	/* background: #fff; */
	padding: 20px;
	margin: 15px;
	font-family: rodfat;
	/* color: rgb(190, 190, 190); */
	color: rgb(236, 233, 233);
}

.login-container {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 30vw;
	/* background-color: rgba(0, 0, 0, 0.25); */
	padding-top: 50px;
}

.login-container * {
	z-index: 1;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}
