* {
	/* box-sizing: border-box; */
}

.container {
	display: flex;
	margin-top: 25px;
	justify-content: center;
	width: 100%;
	height: 550px;
}

.beer-card-container {
	display: grid;
	background-color: #ffd166;
	width: 700px;
	overflow: hidden;
	transition: 0.5s;
	box-shadow: 0px 0px 20px -10px;
	animation: ease-in;
}

.beer-card-container:hover {
	box-shadow: 0px 0px 10px 0px;
	transform: scale(1.03);
}

.beer-card {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.beer-card-image {
	overflow: hidden;
	width: 100%;
	padding: 10px;
	height: 400px;
}

.beer-card-image > img {
	width: 100%;
	height: 100%;
}

.beer-card-name {
	margin-bottom: 1rem;
}

.beer-card-info {
	margin-top: 1rem;
	margin: 1rem;
	padding: 0;
}

.beer-card-info * {
	margin: 0;
	padding: 0;
}

.beer-cards.btn > button:hover {
	background-color: blue;
}

.card-info-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.info {
	padding: 2rem;
	flex-grow: 1;
}
