.create-beer-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15vw;
	height: 40vh;
	background: white;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	z-index: 1;
}

.create-beer-form input,
textarea {
	width: 60%;
	text-align: center;
}

.create-beer-form button {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
