.create-beer-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15vw;
	height: 550px;
	/* background: white; */
	background: #ffeec2;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	z-index: 1;
}

.create-beer-form label {
	text-align: left;
	/* padding: 5px; */
}

.create-beer-form select {
	padding: 5px;
	margin: 10px;
}

.create-beer-form input,
textarea {
	width: 60%;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
}

.create-beer-form button {
	font-family: 'Special Elite';
	padding: 10px;
	border-radius: 5px;
	margin-left: 5px;
	background: #6a0101;
	color: white;
	font-size: 15px;
	border: 1px solid #470000;
}
