/* TODO Add site wide styles */
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	overflow: hidden;
	background-color: #fbfbfb;
	font-family: Georgia, serif, arial;
}

body a {
	text-decoration: none;
}
