/* TODO Add site wide styles */

body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	background-color: #fbfbfb;
	overflow: hidden;
	/* background-color: #ffeec2; */
	font-family: special elite, serif, arial;
}

body a {
	text-decoration: none;
}

form * {
	font-family: special elite, serif, arial;
	font-size: 15px;
	/* background: #ffb703; */
}

button {
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid;
	padding: 5px;
	font-size: 15px;
}
