.allCollections-container {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: auto;
	border-radius: 5px;
	padding: 20px;
	align-items: start;
	overflow: auto;
}

@media screen and (max-height: 1150px) {
	body {
		/* overflow: auto; */
	}
}
.collections-container {
	background-color: #ffd166;
	border-radius: 5px;
	border-right: 2px solid rgb(5, 5, 5);
	padding: 10px;
}

.collection-container {
	border-bottom: 1px dashed rgb(26, 26, 26);
	/* border-right: 1px solid grey; */
	padding: 5px;
}

.collection-beer-container {
	display: flex;
	flex-direction: column;
	padding: 5px;
	height: 100%;
}

.collection-beer {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
	justify-content: center;
	padding: 5px;
	background-color: #ffeec2;
}

.collection-beer:hover {
	transition: 0.4s;
	animation: ease-in;
	box-shadow: 0px 0px 10px 0px;
}

.beer-image-container {
	height: 150px;
	width: 150px;
}

.beer-image > a > img {
	/* overflow: hidden; */
	height: 150px;
	width: 100px;
}

.beer-container {
	display: grid;
	grid-template-columns: 1fr 19fr;
	grid-template-rows: 1fr;
}

.beer-info p label {
	margin: 0;
	text-indent: 3ch;
}

.collection-container button:hover {
	box-shadow: 0px 0px 10px 0px;
	transition: 0.5s;
	animation: ease-in;
	background-color: rgba(187, 186, 184, 0.5);
	color: rgb(14, 14, 14);
}

.beer-buttons button:hover {
	box-shadow: 0px 0px 10px 0px;
	transition: 0.5s;
	animation: ease-in;
	background-color: rgba(187, 186, 184, 0.5);
	color: rgb(14, 14, 14);
}

.beer-buttons button,
.collection-container button {
	font-family: 'Special Elite';
	padding: 10px;
	border-radius: 5px;
	margin-left: 5px;
	background: #6a0101;
	color: white;
	font-size: 15px;
	border: 1px solid #470000;
}

.beer-container-scroll {
	height: 60%;
	overflow-y: scroll;
}
