.create-collection-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 23vh;
	/* background: white; */
	background: #ffd166;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
}

.collection-form label {
	margin-bottom: 10px;
}

.collection-form button {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
