.create-collection-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10vw;
	height: 11vh;
	/* background: white; */
	background: #ffd166;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
}

@media screen and (max-height: 1200px) {
	.create-collection-form {
		width: 250px;
		height: 150px;
	}
}

@media screen and (min-height: 1250px) {
	.create-collection-form {
		width: 15vw;
		height: 11vh;
	}
}

.collection-form label,
input {
	margin-bottom: 5px;
}

.collection-form button {
	font-family: 'Special Elite';
	padding: 10px;
	border-radius: 5px;
	background: #6a0101;
	color: white;
	font-size: 15px;
	border: 1px solid #470000;
}

/* .collection-form; */
