.background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(44, 44, 44, 0.6);
	z-index: 1;
}

.edit-collection-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20vh;
	background: white;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
}

.collection-form label {
	margin-bottom: 10px;
}

.collection-form button {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
