@font-face {
	src: url(../fonts/RoughgatesVintage.ttf);
	font-family: 'roughgates';
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

li {
	display: block;
	text-align: center;
	list-style-type: none;
	padding: 14px 16px;
	font-family: roughgates;
	font-size: 25px;
	font-style: italic;
	text-transform: uppercase;
}

li > a {
	color: black;
}

li:hover {
	background-color: rgb(206, 203, 203);
}

li:visited {
	color: inherit;
}

.left li {
	float: left;
	margin-left: 2em;
}

.right {
	display: flex;
	justify-content: flex-end;
}
